body, html{
  height:100%;
}
body{
  margin: 0;
  background-image: url("assets/dance_floor.jpg");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineup, .partnerup{
  padding:5px 12px;
}
.topbar{
  height:32px;
  background-color: #555;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 32px;
}
.title{
  background-color: #777;
}
.dancer{
  border : none;
  background-size: 60px 60px;
  width : 60px;
  height : 60px;
  display: inline-block;
  position:absolute;
}
.bouncy-dancer{
  background-image: url("assets/Goofy.svg.png");
}
.circle-dancer{
  background-image: url("assets/mickey_mouse.png");
}
.mousey-dancer{
  background-image: url("assets/eeyore-sad.png");
}
.blinky-dancer{
  background-image: url("assets/daffy.png");
  background-size: 75px 75px;
  width : 75px;
  height : 75px;
}



